.CodeEditor {
  position: relative;
}

.CodeEditor-options {
  margin: 15px;
  text-align: center;
}

.CodeEditor-options select {
  padding: 3px;
  margin: 5px;
}

.CodeEditor-options button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px;
  margin: 5px;
}
.CodeEditor-options button:hover {
  cursor: pointer;
  font-weight: bold;
}