.FirstPage {
  
  margin: 15px 0px;
  position: relative;
}

.center-helper {
  position: relative;
  left: 25%;
}
/* TOP HALF, NAME AND COHORT */
.FirstPage-fields {
  
  width: 50%;
  margin: 5px;
  padding: 5px;
  position: relative;
  margin: 0 auto;
}
  .FirstPage-fields-name {
    
    margin: 15px 0px;
    width: 50%;
  }
  .FirstPage-fields-name label {
    
    padding: 1px;
    margin: 2px;
    font-size: 0.75em;
    font-weight: bold;
    display: inline-block;
  }
  .FirstPage-fields-name input {
    padding: 4px;
    margin: 2px;
    width: 99%;
  }
  .FirstPage-fields-cohort {
    
    margin-bottom: 15px;
    width: 50%;
  }
  .FirstPage-fields-cohort label {
    
    padding: 1px;
    margin: 2px;
    font-size: 0.75em;
    font-weight: bold;
    display: inline-block;
  }
  .FirstPage-fields-cohort input {
    padding: 4px;
    margin: 2px;
    width: 30%;
  }

/* BOTTOM HALF, NEXT BUTTON */
.FirstPage-next {
  
  width: 50%;
  margin: 5px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}
  .FirstPage-next input {
    border: 1px solid black;
    font-size: 1.25em;
    border-radius: 3px;
    margin: 5px;
    padding: 2px;
    width: 20%;
  }
  .FirstPage-next input:hover {
    cursor: pointer;
    font-weight: bold;
  }

