.SecondPage {
  border: 2px dashed black;
  position: relative;
}

/* TOP HALF, NAME AND COHORT */
.SecondPage-fields {
  border: 1px solid blue;
  width: 50%;
  margin: 5px;
  padding: 5px;
  position: relative;
  margin: 0 auto;
}
  .SecondPage-fields label {
    padding: 1px;
    margin: 2px;
    font-size: 0.75em;
    display: inline-block;
  }
  .SecondPage-fields input {
    padding: 4px;
    margin: 2px;
    width: 50%;
  }

/* BOTTOM HALF, NEXT BUTTON */
.SecondPage-submit {
  border: 1px solid magenta;
  width: 50%;
  margin: 5px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}
  .SecondPage-submit input {
    border: 1px solid black;
    font-size: 1.25em;
    border-radius: 3px;
    margin: 5px;
    padding: 2px;
    width: 20%;
  }
  .SecondPage-submit input:hover {
    cursor: pointer;
    font-weight: bold;
  }

