// theme colors
$bg-color: #FFFFFF;
$contrast-bg-color: #AFEEEE; // magnolia
$primary-color: #008B8B; // dark cyan
$accent-color:  #F8DE7E; // jasmine
$contrast-accent: #FFFF66; // laser lemon
$font-color: #000000;

// mixins
@mixin flex-style($flow, $justify) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: $flow;
  justify-content: $justify;
}

@mixin box-style($style) {
  -webkit-box-sizing: $style;
  -moz-box-sizing: $style;
  box-sizing: $style;
}

@mixin border-style() {
  border: 1px solid $primary-color;
}

/* Style Settings  */
html {
  @include box-style(border-box);
  font-size: 20px;
}

*, *:before, *:after {
  @include box-style(inherit);
}

body {
  margin: 0;

  div {
    // border: 1px solid black;
  }
}

#nav-bar {
  @include flex-style(row nowrap, space-between);
  background-color: $primary-color;
  align-items: center;
  height: 60px;
  font-family: "Redressed";

  a {
    color: $bg-color;
    text-decoration: none;
    font-size: 25px;
  }

  a:hover {
    color: $contrast-accent;
  }

  #devvy-cho-logo {
    background-image: url('/assets/DevvyCho.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    border: 3px solid $bg-color;
    border-radius: 50%;
    margin-left: 10%;

    &:hover {
      border-color: $contrast-accent;
    }

    // controls size of clickable
    div {
      width: 40px;
      height: 40px;
    }
  }

  #text-nav-links {
    @include flex-style(row nowrap, flex-end);
    width: 50%;
    margin-right: 10%;
    align-items: center;

    div {
      padding: 5px;
      margin: 0px 10px 0px 10px;

      &:hover {
        // opacity: 0.5;
        // background-color: $font-color;
        // z-index: 10;
        border-radius: 10px;
      }
    }
  }
}

#app, #about {
  width: 75%;
  margin: 30px auto;
  font-family: "Redressed";

  #banner {
    background-image: url('/assets/DevvyCho.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid $accent-color;
    border-radius: 10px
  }

  #welcome-msg {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Niconne";
    font-size: 40px;
    text-align: center;
  }

  #text-box {
    width: 100%;
    text-align: center;

    #text-input {
      width: 90%;
      height: 35px;
      font-size: 20px;
      text-indent: 5px;
    }
  }

  #button-box {
    width: 100%;
    text-align: center;
    margin-top: 10px;

    .button {
      border: 1px solid $primary-color;
      display: inline-block;
      margin: 5px;
      width: 70px;
      height: 35px;
      font-size: 15px;

      &:hover {
        background-color: $primary-color;
        color: $bg-color;
      }
    }
  }

  .response-box {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-size: 25px;
  }    

  .information-box {
    width: 100%;
    height: 100%;

    .information {
      // border: 1px solid $primary-color;
      border-radius: 10px;

      div {
        margin: 0px 5px 0px 5px;
      }
    }

    .expanded {
      .information-title {
        background-color: $primary-color;
        color: $bg-color; 
        border-radius: 10px;
      }
    }

    .information-title {
      text-align: center;
      background-color: $contrast-bg-color;
      border: 1px solid $primary-color;
      border-radius: 10px;
      padding: 10px;
      font-family: "Varela Round";
      font-size: 25px;

      &:hover {
        background-color: $primary-color;
        color: $bg-color;
        border-radius: 10px;
      }
    }

    .react-sanfona-item-body-wrapper {
      padding: 20px;
      max-height: 400px;
      overflow-y: scroll;
    }
  }
}

.resource-title {
  margin: 10px;
}

.markdown {
  background-color: #f8f8ff;
  padding: 10px;
  font-family: "Monaco";
  font-size: 15px;
}
  
#about {
  width: 75%;
  margin: 75px auto;

  #header {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-family: "Niconne";
    font-size: 40px;
  }

  .content {
    background-color: $contrast-bg-color;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;

    div {
      margin: 20px auto;
    }
  }
}

#footer {
  background-color: $accent-color;
  width: 100%;
  height: 50px;

  #footer-box {
    @include flex-style(row nowrap, space-around);
    align-items: center;
    width: 25%;
    height: inherit;
    margin: 0 auto;

    .footer-item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 10px;
    }

    #instagram-bg {
      @include flex-style(row nowrap, center);
      align-items: center;
      background-color: $primary-color;
      -webkit-filter: invert(1);
      filter: invert(1);
      width: 40px;
      height: 40px;
      border-radius: 10px;
    }

    #instagram {
      background-color: $primary-color;
      background-image: url('/assets/instagram.png');
      width: 30px;
      height: 30px;
    }

    #twitter {
      background-image: url('/assets/twitter-blue.png');
      width: 50px;
      height: 50px;
    }

    #devleague {
      background-image: url('/assets/devleague_logo.webp');
      width: 125px;
      height: 30px;
    }

    #github {
      background-image: url('/assets/github.png');
      width: 35px;
      height: 35px;
    }
  }
}

/* Highlighter styles  */
/* Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars) */
.hljs {
  display: block;
  padding: 0.5em;
  overflow-x: scroll;
  height: 100%; 
  color: #000;
  background: #f8f8ff;
  // font-family: 'monaco';
  // word-wrap: break-word;
}

.hljs-comment,
.hljs-quote {
  color: #408080;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-subst {
  color: #954121;
}

.hljs-number {
  color: #40a070;
}

.hljs-string,
.hljs-doctag {
  color: #219161;
}

.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #19469d;
}

.hljs-params {
  color: #00f;
}

.hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-variable,
.hljs-template-variable {
  color: #008080;
}

.hljs-regexp,
.hljs-link {
  color: #b68;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
