// theme colors
$bg-color: #FFFFFF;
$primary-color: #000000;
$accent-color: #91A3B0; // cadet grey
$contrast-accent: #36454F; // charcoal
$footer-color: #a6a3a2;

// mixins
@mixin flex-style($flow, $justify) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: $flow;
  justify-content: $justify;
}

@mixin box-style($style) {
  -webkit-box-sizing: $style;
  -moz-box-sizing: $style;
  box-sizing: $style;
}

@mixin border-style() {
  border: 1px solid $primary-color;
}

/* Style Settings  */
html {
  @include box-style(border-box);
  font-family: 'Molengo', sans-serif;
  font-size: 20px;
}

*, *:before, *:after {
  @include box-style(inherit)
}

body {
  margin: 0;
  div {
    // border: 1px solid black;
  }

  a {
    text-decoration: none;
  }
}

#nav-bar {
  @include flex-style(row nowrap, space-between);
  background-color: $accent-color;

  #devvy-cho-logo {
    background-image: url('/assets/DevvyCho.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 25px;

    // controls size of clickable
    div {
      width: 50px;
      height: 50px;
    }
  }

  #text-nav-links {
    @include flex-style(row nowrap, space-around);
    width: 50%;
    align-items: center;
  }
}
