.TagInput-label {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 0.75em;
  text-align: left;
}
.TagInput-label span {
  margin-left: 5px;
}

/* ReactTags Styling */
/* STYLES FOR THE MAIN DIV */
div.tagsClass {
  border: 1px solid black;
  width: 50%;
  position: relative;
  margin: 0 auto;
}


/* STYLES FOR INPUT */
div.tagInputClass input.tagInputFieldClass {
  height: 31px;
  margin: 5px;
  font-size: 12px;
  width: 80%;
  border: 1px solid black;
  border-radius: 2px;
}
div.tagInputClass input.tagInputFieldClass:focus {
  
}


/* STYLES FOR SELECTED TAGS AND REMOVE BUTTON */
div.selectedClass span.tagClass {
  border: 1px solid black;
  position: relative;
  border-radius: 2px;
  background: #eee;
  font-size: 0.85em;
  display: inline-block;
  padding: 4px 6px;
  margin: 5px;
  cursor: move;
}
div.selectedClass a.removeClass {
  position: relative;
  left: 4px;
  color: black;
  font-size: 0.9em;
  height: 50%;
  margin: 0 auto;
}
div.selectedClass a.removeClass:hover {
  color: green;
  cursor: pointer;
}

/* STYLES FOR SUGGESTIONS */
div.suggestionsClass {
  position: absolute;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px 5px;
  background-color: pink;
}
div.suggestionsClass ul {
  list-style-type: none;
  display: table-row;
  background: white;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
}
div.suggestionsClass li {
  padding: 5px 10px;
  margin: 0;
}
div.suggestionsClass li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.suggestionsClass ul li.activeSuggestionClass {
  background: #b7cfe0;
  cursor: pointer;
}