.Header {
  background-color: black;
  position: relative;
}
  .Header img {
    border: 4px solid cyan;
    border-radius: 10px;
    margin: 15px;
  }



.Header-navbar {
  border: 3px dashed white;
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
  .Header-navbar ul {
    display: table;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
  .Header-navbar li {
    border: 1px solid magenta;
    padding: 5px;
    margin: 5px;
    display: inline-block;
  }
  .Header-navbar li a {
    border: 1px solid cyan;
    padding: 5px;
    margin: 10px;
    font-size: 1.5em;
    font-family: sans-serif;
    color: yellow;
  }
  .Header-navbar li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }